<h1>Decks</h1>

<p-table [value]="decks" 
[(selection)]="selectedDecks">
    <ng-template pTemplate="header">
        <tr>
            <th style="width: 3rem">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th>Name</th>
            <th>Description</th>
            <th>Cards</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-deck>
        <tr>
            <td>
                <p-tableCheckbox [value]="deck"></p-tableCheckbox>
            </td>
            <td><a [routerLink]="['/decks', deck.id]">{{ deck.name }}</a></td>
            <td>{{ deck.description }}</td>
            <td>{{ deck.cardCount }}</td>
        </tr>
    </ng-template>
</p-table>