.image-viewer {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;

    *{
        z-index: 2000;
    }

    .background {    
        position: absolute;
        background-color: #333A;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(1px);
    }

    .image-wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            max-width: 80%;
            max-height: 80%;
            border-radius: 25px;
        }
    }
}