/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import "~bootstrap-icons/font/bootstrap-icons.css";


html,body{
    width: 100%;
    height: 100%; 
    padding: 0px;
    margin: 0px;
}


.btn-icon {
    padding-right: 1.73rem;
    padding-top: 0.5rem;
}
