<p-table [value]="cards" 
[(selection)]="selectedCards">
    <ng-template pTemplate="header">
        <tr>
            <th style="width: 3rem">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th><i class="pi pi-hashtag"></i></th>
            <th>Name</th>
            <th style="width: 0px;">
                <p-button label="" icon="pi pi-plus" iconPos="left" (click)="openAddModal()"></p-button>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-card>
        <tr>
            <td>
                <p-tableCheckbox [value]="card"></p-tableCheckbox>
            </td>
            <td  style="width: 0px;">{{ card.quantity }}</td>
            <td colspan="2"><a [routerLink]="['/card', card.id]">{{ card.name }}</a></td>
        </tr>
    </ng-template>
</p-table>


<p-dialog header="Add Card" [(visible)]="createModalOpen" [style]="{width: '80%', height: '90%'}">


    <input pInputText placeholder="Search" type="text" class="searchText" [(ngModel)]="searchText" [formControl]="searchControl" (change)="searchChanged(searchText)"/>


    <div class="search-results">


        <div class="search-item" *ngFor="let card of searchResults">
            <div class="image">
                <img src="{{ card.image_uris?.small ? card.image_uris?.small : '/assets/back.jpg'}}" (click)="openImageShowModal(card.image_uris?.large ? card.image_uris?.large : '/assets/back.jpg')"/>
            </div>
            <div class="meta">
                <table>
                    <tbody>
                        <tr>
                            <td>Name</td>
                            <td>{{ card.name }}</td>
                        </tr>   
                        <tr>
                            <td>Mana Cost</td>
                            <td class="mana-cost">
                                <div *ngIf="getManaCostList(card).length > 0">
                                    <img src="https://svgs.scryfall.io/card-symbols/{{ symbol }}.svg" *ngFor="let symbol of getManaCostList(card)"/>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Card Text</td>
                            <td>
                                <div class="oracle-text">{{ card.oracle_text }}</div>
                            </td>
                        </tr> 
                    </tbody>
                </table>
                <button pButton>Add</button>
            </div>
        </div>


    </div>
</p-dialog>

<app-image-viewer [(visible)]="imageShowModal" [(imgUrl)]="imageShowUrl"></app-image-viewer>