<table class="table table-hover w-100 content-table">
    <thead>
        <tr>
            <th>Quantity</th>
            <th>Name</th>
            <th style="width: 0px;"><button class="btn btn-primary btn-icon" (click)="openAddModal()"><i class="bi bi-plus-lg"></i></button></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let card of cards" [routerLink]="['/card', card.id]">
            <td>{{ card.quantity }}</td>
            <td colspan="2">{{ card.name }}</td>
        </tr>
    </tbody>
</table>


<app-modal [(visible)]="createModalOpen" yesText="Add" modalClass="modal-xl" [yesHide]="true">
    <label>Search</label>
    <input type="text" class="form-control" [(ngModel)]="searchText" [formControl]="searchControl" (change)="searchChanged(searchText)"/>

    <div class="search-results">


        <div class="search-item flex-md-row flex-column" *ngFor="let card of searchResults">
            <div class="image">
                <img src="{{ card.image_uris?.small ? card.image_uris?.small : '/assets/back.jpg'}}" (click)="openImageShowModal(card.image_uris?.large ? card.image_uris?.large : '/assets/back.jpg')"/>
            </div>
            <div class="meta w-100 d-flex flex-column">
                <table class="w-100">
                    <tbody>
                        <tr>
                            <td>Name</td>
                            <td class="w-100">{{ card.name }}</td>
                        </tr>   
                        <tr>
                            <td>Mana Cost</td>
                            <td class="mana-cost">
                                <div *ngIf="getManaCostList(card).length > 0">
                                    <img src="https://svgs.scryfall.io/card-symbols/{{ symbol }}.svg" *ngFor="let symbol of getManaCostList(card)"/>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Card Text</td>
                            <td>
                                <div class="oracle-text">{{ card.oracle_text }}</div>
                            </td>
                        </tr> 
                    </tbody>
                </table>
                <button class="btn btn-primary btn-sm w-100">Add</button>
            </div>
        </div>


    </div>
</app-modal>

<app-image-viewer [(visible)]="imageShowModal" [(imgUrl)]="imageShowUrl"></app-image-viewer>