<h1>{{ collection?.name }}</h1>


<p-table [value]="folders" 
[(selection)]="selectedFolders">
    <ng-template pTemplate="header">
        <tr>
            <th style="width: 3rem">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th>Name</th>
            <th>Description</th>
            <th>Cards</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-fol>
        <tr>
            <td>
                <p-tableCheckbox [value]="fol"></p-tableCheckbox>
            </td>
            <td><a [routerLink]="[fol.id]">{{ fol.name }}</a></td>
            <td>{{ fol.description }}</td>
            <td>{{ fol.cardCount }}</td>
        </tr>
    </ng-template>
</p-table>