<h1 class="">Dashboard</h1>

<app-grid>

    <div class="grid-tile tile-25">
        <div class="dashboard-field number">
            <div class="dashboard-value">
                <span>1234</span>
            </div>
            <div class="dashboard-title">Total Cards</div>
        </div>
    </div>
    <div class="grid-tile tile-25">
        <div class="dashboard-field number">
            <div class="dashboard-value">
                <span>15</span>
            </div>
            <div class="dashboard-title">Total Decks</div>
        </div>
    </div>
    <div class="grid-tile tile-50">
        <div class="dashboard-field chart">
            <div class="dashboard-value">
                <p-chart type="pie" [data]="data" height="200px" [options]="chartOptions" ></p-chart>
            </div>
            <div class="dashboard-title">Card Distribution</div>
        </div>
    </div>

</app-grid>