<div class="modal-wrapper" style="display: {{ visible ? 'flex' : 'none'}}">
    <div class="background" (click)="buttonClick(false)"></div>
    <div class="modal {{ modalClass }}" tabindex="-1" style="display: block" (click)="buttonClick(false)">
        <div class="modal-dialog"  (click)="stopPropagation($event)">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title">{{ title }}</h5>
                <button type="button" (click)="buttonClick(false)" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <ng-content></ng-content>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-{{ yesClass }}" (click)="buttonClick(true)" *ngIf="!yesHide">{{ yesText }}</button>
                <button type="button" class="btn btn-{{ noClass }}" data-bs-dismiss="modal" (click)="buttonClick(false)" *ngIf="!noHide">{{ noText }}</button>
                </div>
            </div>
        </div>
    </div>
    
</div>