<h1>{{ deck?.name }}</h1>

<p-tabView>
    <p-tabPanel header="Cards">

        <div class="button-box">
            <button pButton label="Add" icon="pi pi-plus" (click)="showAddModal = !showAddModal" iconPos="left" ></button>
            <button pButton label="Modify" [disabled]="selectedCards.length != 1" class="p-button-info" icon="pi pi-trash" (click)="openEditModal()" iconPos="left"></button>
            <button pButton label="Delete" [disabled]="selectedCards.length == 0" class="p-button-danger" (click)="showDeleteModal = !showDeleteModal" icon="pi pi-trash" iconPos="left"></button>
        </div>

        <app-cards-table [(cards)]="cards" [(selectedCards)]="selectedCards"></app-cards-table>

        <p-dialog header="Edit Collection" [(visible)]="showEditModal">
            <div class="dialog-form">
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" pInputText readonly [(ngModel)]="modalData.name"/>
                </div>
                <div class="form-group">
                    <label>quantity</label>
                    <input type="text" pInputText [(ngModel)]="modalData.quantity"/>
                </div>
                <div class="button-group">
                    <button pButton label="Save" class="p-button-success" (click)="saveItem()"></button>
                    <button pButton label="Cancel" class="p-button-outlined" (click)="showEditModal = false"></button>
                </div>
            </div>
        </p-dialog>

        <p-dialog header="Delete Collection" [(visible)]="showDeleteModal">
            <div class="dialog-form">
                <div class="modal-text" *ngIf="selectedCards.length > 1">Delete {{ selectedCards.length }} Collections?</div>
                <div class="modal-text" *ngIf="selectedCards.length == 1">Delete Collection "{{ selectedCards[0].name }}"?</div>
                <div class="button-group">
                    <button pButton label="Yes" class="p-button-danger" (click)="deleteItem()"></button>
                    <button pButton label="No" class="p-button-outlined" (click)="showDeleteModal = false"></button>
                </div>
            </div>
        </p-dialog>

        <app-card-search [(createModalOpen)]="showAddModal"></app-card-search>


    </p-tabPanel>
    <p-tabPanel header="Stats">

        <app-grid>

            <div class="grid-tile tile-25">
                <div class="dashboard-field number">
                    <div class="dashboard-value">
                        <span>60</span>
                    </div>
                    <div class="dashboard-title">Total Cards</div>
                </div>
            </div>
            <div class="grid-tile tile-25">
                <div class="dashboard-field number">
                    <div class="dashboard-value">
                        <span>15</span>
                    </div>
                    <div class="dashboard-title">Total Creatures</div>
                </div>
            </div>
            <div class="grid-tile tile-25">
                <div class="dashboard-field number">
                    <div class="dashboard-value">
                        <span>24</span>
                    </div>
                    <div class="dashboard-title">Total Lands</div>
                </div>
            </div>

            <div class="grid-tile tile-25">
                <div class="dashboard-field table">
                    <div class="dashboard-value">
                        <table>
                            <tr><td>Commander</td><td><app-legality-icon [value]="false"></app-legality-icon></td></tr>
                            <tr><td>Historic</td><td><app-legality-icon [value]="false"></app-legality-icon></td></tr>
                            <tr><td>Legacy</td><td><app-legality-icon [value]="true"></app-legality-icon></td></tr>
                            <tr><td>Modern</td><td><app-legality-icon [value]="true"></app-legality-icon></td></tr>
                            <tr><td>Standard</td><td><app-legality-icon [value]="true"></app-legality-icon></td></tr>
                            <tr><td>Pioneer</td><td><app-legality-icon [value]="false"></app-legality-icon></td></tr>
                        </table>
                    </div>
                    <div class="dashboard-title">Deck Legality</div>
                </div>
            </div>

            <div class="grid-tile tile-50">
                <div class="dashboard-field chart">
                    <div class="dashboard-value">
                        <p-chart type="pie" [data]="chartColorDistribution" height="200px" [options]="chartOptions" ></p-chart>
                    </div>
                    <div class="dashboard-title">Card Distribution</div>
                </div>
            </div>
            <div class="grid-tile tile-50">
                <div class="dashboard-field chart">
                    <div class="dashboard-value">
                        <p-chart type="bar" [data]="chartLevelDistribution" height="200px" [options]="chartOptions" ></p-chart>
                    </div>
                    <div class="dashboard-title">Card Distribution</div>
                </div>
            </div>


        </app-grid>
    </p-tabPanel>
</p-tabView>