<div class="navbar">
    <h1 class="title"><img src="/assets/logo.png"></h1>
    <div class="list">
        <app-navbar-item route="home" label="Home" icon="home"></app-navbar-item>
        <app-navbar-item route="cards" label="Cards" icon="database"></app-navbar-item>
        <app-navbar-item route="collections" label="Collections" icon="box"></app-navbar-item>
        <app-navbar-item route="decks" label="Virtual Decks" icon="inbox"></app-navbar-item>
        <app-navbar-item route="tasks" label="Import Tasks" icon="file"></app-navbar-item>
    </div>
    <div class="filler"></div>
    <div class="list bottom">
        <app-navbar-item label="{{ username }}" route="/auth" icon="user" (click)="logout()"></app-navbar-item>
        <app-navbar-item label="Logout" icon="lock" (click)="logout()"></app-navbar-item>
    </div>
</div>