.tile-20 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

::ng-deep {
    .grid-tile {
        padding: 0.5rem !important;
    }

    .grid {
        padding: 0.5rem !important;
    }
}

.move-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;

    button {
        margin: 0.25rem;
    }

    .multiple {
        display: flex;
        flex-direction: column;
        align-items: center;

        input {
            width: 100%;
            text-align: center;
        }
    }
}