
<div class="button-box">
    <button pButton label="Modify" [disabled]="selectedCards.length != 1" class="p-button-info" icon="pi pi-trash" (click)="openEditModal()" iconPos="left"></button>
    <button pButton label="Delete" [disabled]="selectedCards.length == 0" class="p-button-danger" (click)="showDeleteModal = !showDeleteModal" icon="pi pi-trash" iconPos="left"></button>
</div>

<p-table [value]="cards" 
[(selection)]="selectedCards">
    <ng-template pTemplate="header">
        <tr>
            <th style="width: 3rem">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th><i class="pi pi-hashtag"></i></th>
            <th>Name</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-card>
        <tr>
            <td>
                <p-tableCheckbox [value]="card"></p-tableCheckbox>
            </td>
            <td  style="width: 0px;">{{ card.quantity }}</td>
            <td ><a [routerLink]="['/card', card.id]">{{ card.name }}</a></td>
        </tr>
    </ng-template>
</p-table>



<p-dialog header="Edit Card" [(visible)]="showEditModal">
    <div class="dialog-form">
        <div class="form-group">
            <label>Name</label>
            <input type="text" pInputText readonly [(ngModel)]="modalData.name"/>
        </div>
        <div class="form-group">
            <label>Folder</label>
            <p-dropdown [options]="folders" [(ngModel)]="newFolder" optionLabel="name"></p-dropdown>
        </div>
        <div class="form-group">
            <label>quantity</label>
            <input type="text" pInputText [(ngModel)]="modalData.quantity"/>
        </div>
        <div class="button-group">
            <button pButton label="Save" class="p-button-success" (click)="saveItem()"></button>
            <button pButton label="Cancel" class="p-button-outlined" (click)="showEditModal = false"></button>
        </div>
    </div>
</p-dialog>

<p-dialog header="Delete Card" [(visible)]="showDeleteModal">
    <div class="dialog-form">
        <div class="modal-text" *ngIf="selectedCards.length > 1">Delete {{ selectedCards.length }} Cards?</div>
        <div class="modal-text" *ngIf="selectedCards.length == 1">Delete Card "{{ selectedCards[0].name }}"?</div>
        <div class="button-group">
            <button pButton label="Yes" class="p-button-danger" (click)="deleteItem()"></button>
            <button pButton label="No" class="p-button-outlined" (click)="showDeleteModal = false"></button>
        </div>
    </div>
</p-dialog>