.layout { 
    height:100%;
    display: flex;
    flex-direction: row;

    padding: 0px;
    margin: 0px;

    .navbar {
        padding: 0px;
        margin: 0px;
        width: 240px;

        app-navbar {
            width: 100%;
        }
    }

    .seperator {
        background: rgb(98,98,98);
        background: linear-gradient(90deg, rgba(98,98,98,1) 0%, rgba(85,85,85,1) 3%, rgba(131,131,131,1) 56%, rgba(196,196,196,1) 100%);
        width: 10px;
        border-left: 1px solid #444;
        border-right: 1px solid #fff;
    }

    .content {
        padding: 2rem;
        width: 100%;
        
    }
}