<h1>{{ scryfallData?.name }}</h1>

<div class="info-layout">
    <div class="image-wrapper">
        <img src="{{ scryfallData?.image_uris?.large }}" (click)="openImageShowModal(scryfallData?.image_uris?.large)"/>
    </div>
    <div class="meta">

        <p-table [value]="[[]]" [tableStyle]="{'min-width': '50rem'}">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Name</th>
                        <th>Value</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body">
                    <tr>
                        <td>Name</td>
                        <td>{{ scryfallData?.name }}</td>
                    </tr>
                    <tr>
                        <td>Mana Cost</td>
                        <td>{{ scryfallData?.cmc }} -
                            <div class="mana-cost" [innerHTML]="scryfallData?.mana_cost | cardColorReplace">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Rarity</td>
                        <td>
                            <span class="rarity-{{ scryfallData?.rarity }}">
                                {{ scryfallData?.rarity }}
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td>Price</td>
                        <td>{{ scryfallData?.prices?.usd }} $</td>
                    </tr>
                    <tr>
                        <td>Legality</td>
                        <td>
                            <table>
                                <tr><td>Commander</td><td><app-legality-icon [value]="scryfallData?.legalities?.commander == 'legal'"></app-legality-icon></td></tr>
                                <tr><td>Historic</td><td><app-legality-icon [value]="scryfallData?.legalities?.historic == 'legal'"></app-legality-icon></td></tr>
                                <tr><td>Legacy</td><td><app-legality-icon [value]="scryfallData?.legalities?.legacy == 'legal'"></app-legality-icon></td></tr>
                                <tr><td>Modern</td><td><app-legality-icon [value]="scryfallData?.legalities?.modern == 'legal'"></app-legality-icon></td></tr>
                                <tr><td>Standard</td><td><app-legality-icon [value]="scryfallData?.legalities?.standard == 'legal'"></app-legality-icon></td></tr>
                                <tr><td>Pioneer</td><td><app-legality-icon [value]="scryfallData?.legalities?.pioneer == 'legal'"></app-legality-icon></td></tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>Text</td>
                        <td>
                            <div [innerHTML]="scryfallData?.oracle_text | cardColorReplace"></div>
                        </td>
                    </tr>
                </ng-template>

        </p-table>
    </div>  
</div>

<app-image-viewer [(visible)]="imageShowModal" [(imgUrl)]="imageShowUrl"></app-image-viewer>
