.info-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media(min-width:900px){
        flex-direction: row;
    }
    width: 100%;

    .image-wrapper{
        img {
            max-height: 400px;
            max-width: 100%;
        }
        padding: 0.5rem;
        @media(min-width:900px){
            padding: 1rem;
        }
    }
    .meta {
        width: 100%;
        padding: 0.5rem;
        @media(min-width:900px){
            padding: 1rem;
        }

        .mana-cost{
            display: inline-block;
            img {
                width: 16px;
                margin: 0px 0.1rem;
            }
        }
        


        .rarity-common {
            color: #000;
        }
        
        .rarity-uncommon {
            color: #444;
        }
        
        .rarity-rare {
            color: #d4af37;
        }
        
        .rarity-mythic {
            color: rgb(197, 48, 11);
        }
        
        .rarity-bonus {
            color: rgb(44, 28, 190);
        }
        
        .rarity-special {
            color: rgb(125, 28, 190);
        }
    }
}
