<p-overlayPanel #filterPanel>
    <ng-template pTemplate>
        <div class="search-text-wrapper">
            <input class="search-text" type="text" pInputText placeholder="Search..." [(ngModel)]="filter_fullText"/>
        </div>

        <div class="filters">

            <div class="filter">
                <h3>Colors</h3>
                <div class="color-filter">
                    <div class="icon-checkbox">
                        <p-checkbox name="selectedColors" value="white" [(ngModel)]="filter_selectedColors"></p-checkbox>
                        <img style="height:1rem; width: 1rem;" src='https://svgs.scryfall.io/card-symbols/W.svg'>
                    </div>
                    <div class="icon-checkbox">
                        <p-checkbox name="selectedColors" value="black" [(ngModel)]="filter_selectedColors"></p-checkbox>
                        <img style="height:1rem; width: 1rem;" src='https://svgs.scryfall.io/card-symbols/B.svg'>
                    </div>
                    <div class="icon-checkbox">
                        <p-checkbox name="selectedColors" value="red"  [(ngModel)]="filter_selectedColors"></p-checkbox>
                        <img style="height:1rem; width: 1rem;" src='https://svgs.scryfall.io/card-symbols/R.svg'>
                    </div>
                    <div class="icon-checkbox">
                        <p-checkbox name="selectedColors" value="blue"  [(ngModel)]="filter_selectedColors"></p-checkbox>
                        <img style="height:1rem; width: 1rem;" src='https://svgs.scryfall.io/card-symbols/B.svg'>
                    </div>
                    <div class="icon-checkbox">
                        <p-checkbox name="selectedColors" value="green"  [(ngModel)]="filter_selectedColors"></p-checkbox>
                        <img style="height:1rem; width: 1rem;" src='https://svgs.scryfall.io/card-symbols/G.svg'>
                    </div>
                    <div class="icon-checkbox">
                        <p-checkbox name="selectedColors" value="neutral"  [(ngModel)]="filter_selectedColors"></p-checkbox>
                        <img style="height:1rem; width: 1rem;" src='https://svgs.scryfall.io/card-symbols/X.svg'>
                    </div>
                </div>
            </div>

            <div class="filter slider">
                <h3>Mana Cost</h3>
                <div class="slider-number">
                    <img style="height:1.3rem; width: 1.3rem;" src="https://svgs.scryfall.io/card-symbols/{{ filter_cmc[0] }}.svg"> - <img style="height:1.3rem; width: 1.3rem;" src="https://svgs.scryfall.io/card-symbols/{{ filter_cmc[1] }}.svg">
                </div>
                <p-slider [(ngModel)]="filter_cmc" [range]="true" [min]="0" [max]="20" [animate]="true"></p-slider>
            </div>
        </div>
    </ng-template>
</p-overlayPanel>

<button type="text" class="btn-filter" pButton label="Filter" (click)="filterPanel.toggle($event)"></button>


<div class="table-wrapper">
    <p-table [value]="cards" 
    [(selection)]="selectedCards">
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th colspan="2"><i class="pi pi-hashtag"></i></th>
                <th>Name</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-card>
            <tr>
                <td>
                    <p-tableCheckbox [value]="card"></p-tableCheckbox>
                </td>
                <td  style="width: 0px;">{{ card.quantity }}</td>
                <td style="width: 0px; padding: 0.2rem;">
                    <img style="height: 40px" [src]="getImageUrl(card,'small')" (click)="openImageShowModal(getImageUrl(card,'large'))"/>
                </td>
                <td><a [routerLink]="['/card', card.id]">{{ card.name }}</a></td>
            </tr>
        </ng-template>
    </p-table>
</div>

<app-image-viewer [(visible)]="imageShowModal" [(imgUrl)]="imageShowUrl"></app-image-viewer>
